apiVersion: v1
data:
  details: |
    body:
        - name: configuration
          widget: Panel
          source: spec
          children:
            - widget: Labels
              source: location
              name: spec.location
            - widget: Labels
              source: source.volume.name
              name: spec.source.volume.name
            - widget: Labels
              source: source.volume.namespace
              name: spec.source.volume.namespace

        - name: status
          widget: Panel
          source: status
          children:
            - widget: Labels
              source: location
              name: status.location
            - widget: Labels
              source: capacity
              name: status.capacity
            - widget: Labels
              source: state
              name: status.state
            - widget: Labels
              source: opIdentifier
              name: status.opIdentifier
  form: |
    - path: spec.location
      name: spec.location
      widget: Text
      disableOnEdit: true
    - path: spec.source.volume
      name: spec.source.volume
      required: true
      widget: FormGroup
      children:
        - path: name
          name: spec.source.volume.name
          required: true
          widget: Text
          disableOnEdit: true
        - path: namespace
          name: spec.source.volume.namespace
          required: false
          widget: Text
          disableOnEdit: true
  general: |
    resource:
        kind: GcpNfsVolumeBackup
        group: cloud-resources.kyma-project.io
        version: v1beta1
    urlPath: gcpnfsvolumebackups
    name: GCP NFS Volume Backups
    scope: namespace
    category: Storage
    icon: shelf
    description: >-
        GcpNfsVolumeBackup is the Schema for the gcpnfsvolumebackups API
  list: |
    - source: status.location
      name: status.location
      sort: true
    - source: status.capacity
      name: status.capacity
      sort: true
    - source: spec.source.volume.name
      name: spec.source.volume.name
      sort: true
    - source: status.state
      name: status.state
      sort: true
  translations: |
    en:
      spec.location: Requested Location
      status.location: Allocated Location
      status.capacity: Capacity
      spec.source.volume: Volume
      spec.source.volume.name: Volume Name
      spec.source.volume.namespace: Namespace
      status.state: State
      configuration: Configuration
      status: Status
      status.opIdentifier: Operation Identifier
kind: ConfigMap
metadata:
  annotations:
    cloud-resources.kyma-project.io/version: v0.0.4
  labels:
    busola.io/extension: resource
    busola.io/extension-version: "0.5"
    cloud-manager: ui-cm
  name: gcpnfsvolumebackups-ui.operator.kyma-project.io
  namespace: kyma-system
