---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - awsvpcpeerings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - awsvpcpeerings/finalizers
  verbs:
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - awsvpcpeerings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - azurevpcpeerings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - azurevpcpeerings/finalizers
  verbs:
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - azurevpcpeerings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - cloudresources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - cloudresources/finalizers
  verbs:
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - cloudresources/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - gcpvpcpeerings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - gcpvpcpeerings/finalizers
  verbs:
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - gcpvpcpeerings/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - nfsvolumes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - nfsvolumes/finalizers
  verbs:
  - update
- apiGroups:
  - cloud-resources.kyma-project.io
  resources:
  - nfsvolumes/status
  verbs:
  - get
  - patch
  - update
