apiVersion: cloud-control.kyma-project.io/v1beta1
kind: Subscription
metadata:
  name: subscription-sample
  labels:
    cloud-manager.kyma-project.io/binding-name: binding-name
    cloud-manager.kyma-project-io/provider: gcp_or_aws_or_azure_or_openstack
spec:
  details:
    garden:
      bindingName: binding-name
status:
  state: Ready
  conditions:
    - type: Subscription
      status: 'True'
      reason: Ready
      message: Ready
      lastTransitionTime: '2025-12-01T10:41:08Z'
    - type: DeleteWhileUsed
      status: 'True'
      reason: DeleteWhileUsed
      message: Used by ...
      lastTransitionTime: '2025-12-01T10:41:08Z'
  provider: gcp|aws|azure|openstack
  subscriptionInfo:
    gcp:
      project: gcp-project-id
    azure:
      tenantId: azure-tenant-id
      subscriptionId: azure-subscription-id
    aws:
      account: '1234556'
    openStack:
      domainName: os-domain-name
      tenantName: os-tenant-name
