apiDisabled:
  variations:
    enabled: false
    disabled: true
  targeting:
    - name: All APIs are disabled for trial SKR
      query: brokerPlan == "trial"
      variation: disabled
    - name: Enabled on stage for global account 6034adc9-3441-494c-b438-a0eba4c5045a
      query: landscape == "stage" and globalAccount == "6034adc9-3441-494c-b438-a0eba4c5045a"
      variation: enabled
    - name: Enabled redis on aws stage
      query: feature == "redis" and landscape == "stage" and provider == "aws"
      variation: enabled
    - name: Enabled redis on gcp stage
      query: feature == "redis" and landscape == "stage" and provider == "gcp"
      variation: enabled
    - name: Disabled APIs on stage and prod
      query: feature in ["nfsBackup", "peering", "redis"] and landscape != "dev"
      variation: disabled
  defaultRule:
    variation: enabled

nukeBackupsGcp:
  variations:
    yes: true
    no: false
  defaultRule:
    variation: no

nukeBackupsAws:
  variations:
    yes: true
    no: false
  defaultRule:
    variation: "no"

vpcPeeringSync:
  variations:
    yes: true
    no: false
  defaultRule:
    variation: "yes"