---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: redisclusters.cloud-control.kyma-project.io
spec:
  group: cloud-control.kyma-project.io
  names:
    kind: RedisCluster
    listKind: RedisClusterList
    plural: redisclusters
    singular: rediscluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.scope.name
      name: Scope
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: RedisCluster is the Schema for the redisclusters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RedisClusterSpec defines the desired state of RedisCluster
            properties:
              instance:
                maxProperties: 1
                minProperties: 1
                properties:
                  aws:
                    properties:
                      authEnabled:
                        default: false
                        type: boolean
                      autoMinorVersionUpgrade:
                        default: false
                        type: boolean
                      cacheNodeType:
                        type: string
                      engineVersion:
                        default: "7.0"
                        enum:
                        - "7.1"
                        - "7.0"
                        - 6.x
                        type: string
                        x-kubernetes-validations:
                        - message: engineVersion cannot be downgraded.
                          rule: (self != "7.0" || oldSelf == "7.0" || oldSelf == "6.x")
                        - message: engineVersion cannot be downgraded.
                          rule: (self != "7.1" || oldSelf == "7.1" || oldSelf == "7.0"
                            || oldSelf == "6.x")
                        - message: engineVersion cannot be downgraded.
                          rule: (self != "6.x" || oldSelf == "6.x")
                      parameters:
                        additionalProperties:
                          type: string
                        type: object
                      preferredMaintenanceWindow:
                        description: |-
                          Specifies the weekly time range during which maintenance on the cluster is
                          performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H
                          Clock UTC). The minimum maintenance window is a 60 minute period.

                          Valid values for ddd are: sun mon tue wed thu fri sat

                          Example: sun:23:00-mon:01:30
                        type: string
                      replicasPerShard:
                        default: 0
                        format: int32
                        maximum: 5
                        minimum: 0
                        type: integer
                      shardCount:
                        format: int32
                        maximum: 500
                        minimum: 1
                        type: integer
                    required:
                    - cacheNodeType
                    - replicasPerShard
                    - shardCount
                    type: object
                  azure:
                    properties:
                      redisConfiguration:
                        properties:
                          maxclients:
                            type: string
                          maxfragmentationmemory-reserved:
                            type: string
                          maxmemory-delta:
                            type: string
                          maxmemory-policy:
                            type: string
                          maxmemory-reserved:
                            type: string
                          notify-keyspace-events:
                            type: string
                        type: object
                      redisVersion:
                        type: string
                      replicasPerPrimary:
                        default: 0
                        type: integer
                        x-kubernetes-validations:
                        - message: replicasPerPrimary cannot be added after the cluster
                            creation.
                          rule: (oldSelf != 0 || self == 0)
                      shardCount:
                        type: integer
                      sku:
                        properties:
                          capacity:
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            type: integer
                        required:
                        - capacity
                        type: object
                    required:
                    - sku
                    type: object
                type: object
              ipRange:
                properties:
                  name:
                    type: string
                type: object
                x-kubernetes-validations:
                - message: IpRange name must not be empty.
                  rule: (size(self.name) > 0)
              remoteRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
                x-kubernetes-validations:
                - message: RemoteRef is immutable.
                  rule: (self == oldSelf)
              scope:
                properties:
                  name:
                    type: string
                    x-kubernetes-validations:
                    - message: Scope is immutable.
                      rule: (self == oldSelf)
                    - message: Scope is required.
                      rule: (self != "")
                required:
                - name
                type: object
            required:
            - instance
            - ipRange
            - remoteRef
            - scope
            type: object
          status:
            description: RedisClusterStatus defines the observed state of RedisCluster
            properties:
              authString:
                type: string
              conditions:
                description: List of status conditions to indicate the status of a
                  RedisInstance.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              discoveryEndpoint:
                type: string
              id:
                type: string
              observedGeneration:
                format: int64
                type: integer
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
