---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: redisinstances.cloud-control.kyma-project.io
spec:
  group: cloud-control.kyma-project.io
  names:
    kind: RedisInstance
    listKind: RedisInstanceList
    plural: redisinstances
    singular: redisinstance
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: RedisInstance is the Schema for the redisinstances API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RedisInstanceSpec defines the desired state of RedisInstance
            properties:
              instance:
                maxProperties: 1
                minProperties: 1
                properties:
                  aws:
                    properties:
                      authEnabled:
                        default: false
                        type: boolean
                      autoMinorVersionUpgrade:
                        default: false
                        type: boolean
                      cacheNodeType:
                        type: string
                      engineVersion:
                        default: "7.0"
                        type: string
                        x-kubernetes-validations:
                        - message: EngineVersion is immutable.
                          rule: (self == oldSelf)
                      parameters:
                        additionalProperties:
                          type: string
                        type: object
                      preferredMaintenanceWindow:
                        description: |-
                          Specifies the weekly time range during which maintenance on the cluster is
                          performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H
                          Clock UTC). The minimum maintenance window is a 60 minute period.


                          Valid values for ddd are: sun mon tue wed thu fri sat


                          Example: sun:23:00-mon:01:30
                        type: string
                      readReplicas:
                        default: 0
                        format: int32
                        maximum: 1
                        minimum: 0
                        type: integer
                        x-kubernetes-validations:
                        - message: ReadReplicas is immutable.
                          rule: (self == oldSelf)
                    required:
                    - cacheNodeType
                    type: object
                  azure:
                    properties:
                      redisConfiguration:
                        properties:
                          maxclients:
                            type: string
                          maxfragmentationmemory-reserved:
                            type: string
                          maxmemory-delta:
                            type: string
                          maxmemory-policy:
                            type: string
                          maxmemory-reserved:
                            type: string
                          notify-keyspace-events:
                            type: string
                        type: object
                      redisVersion:
                        type: string
                      replicasPerPrimary:
                        enum:
                        - 1
                        - 2
                        - 3
                        type: integer
                      shardCount:
                        type: integer
                      sku:
                        properties:
                          capacity:
                            enum:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            type: integer
                        required:
                        - capacity
                        type: object
                    required:
                    - sku
                    type: object
                  gcp:
                    properties:
                      authEnabled:
                        default: false
                        description: Indicates whether OSS Redis AUTH is enabled for
                          the instance.
                        type: boolean
                      maintenancePolicy:
                        description: |-
                          The maintenance policy for the instance.
                          If not provided, maintenance events can be performed at any time.
                        maxProperties: 1
                        minProperties: 1
                        properties:
                          dayOfWeek:
                            properties:
                              day:
                                enum:
                                - MONDAY
                                - TUESDAY
                                - WEDNESDAY
                                - THURSDAY
                                - FRIDAY
                                - SATURDAY
                                - SUNDAY
                                type: string
                              startTime:
                                properties:
                                  hours:
                                    description: Hours of day in 24 hour format. Should
                                      be from 0 to 23.
                                    format: int32
                                    maximum: 23
                                    minimum: 0
                                    type: integer
                                  minutes:
                                    description: Minutes of hour of day. Must be from
                                      0 to 59.
                                    format: int32
                                    maximum: 59
                                    minimum: 0
                                    type: integer
                                required:
                                - hours
                                - minutes
                                type: object
                            required:
                            - day
                            - startTime
                            type: object
                        type: object
                      memorySizeGb:
                        description: Redis memory size in GiB.
                        format: int32
                        type: integer
                      redisConfigs:
                        additionalProperties:
                          type: string
                        description: |-
                          Redis configuration parameters, according to http://redis.io/topics/config.
                          See docs for the list of the supported parameters
                        type: object
                      redisVersion:
                        default: REDIS_7_0
                        description: The version of Redis software.
                        enum:
                        - REDIS_7_2
                        - REDIS_7_0
                        - REDIS_6_X
                        type: string
                        x-kubernetes-validations:
                        - message: RedisVersion is immutable.
                          rule: (self == oldSelf)
                      tier:
                        default: BASIC
                        description: The service tier of the instance.
                        enum:
                        - BASIC
                        - STANDARD_HA
                        type: string
                        x-kubernetes-validations:
                        - message: Tier is immutable.
                          rule: (self == oldSelf)
                    required:
                    - memorySizeGb
                    - tier
                    type: object
                type: object
              ipRange:
                properties:
                  name:
                    type: string
                type: object
              remoteRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
                x-kubernetes-validations:
                - message: RemoteRef is immutable.
                  rule: (self == oldSelf)
              scope:
                properties:
                  name:
                    type: string
                    x-kubernetes-validations:
                    - message: Scope is immutable.
                      rule: (self == oldSelf)
                    - message: Scope is required.
                      rule: (self != "")
                required:
                - name
                type: object
            required:
            - instance
            - ipRange
            - remoteRef
            - scope
            type: object
          status:
            description: RedisInstanceStatus defines the observed state of RedisInstance
            properties:
              authString:
                type: string
              caCert:
                type: string
              conditions:
                description: List of status conditions to indicate the status of a
                  RedisInstance.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource.\n---\nThis struct is intended for
                    direct use as an array at the field path .status.conditions.  For
                    example,\n\n\n\ttype FooStatus struct{\n\t    // Represents the
                    observations of a foo's current state.\n\t    // Known .status.conditions.type
                    are: \"Available\", \"Progressing\", and \"Degraded\"\n\t    //
                    +patchMergeKey=type\n\t    // +patchStrategy=merge\n\t    // +listType=map\n\t
                    \   // +listMapKey=type\n\t    Conditions []metav1.Condition `json:\"conditions,omitempty\"
                    patchStrategy:\"merge\" patchMergeKey:\"type\" protobuf:\"bytes,1,rep,name=conditions\"`\n\n\n\t
                    \   // other fields\n\t}"
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: |-
                        type of condition in CamelCase or in foo.example.com/CamelCase.
                        ---
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                        useful (see .node.status.conditions), the ability to deconflict is important.
                        The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              id:
                type: string
              primaryEndpoint:
                type: string
              readEndpoint:
                type: string
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
