---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
    cloud-resources.kyma-project.io/version: v0.0.1
  name: azurerwxvolumerestores.cloud-resources.kyma-project.io
spec:
  group: cloud-resources.kyma-project.io
  names:
    categories:
      - kyma-cloud-manager
    kind: AzureRwxVolumeRestore
    listKind: AzureRwxVolumeRestoreList
    plural: azurerwxvolumerestores
    singular: azurerwxvolumerestore
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
        - jsonPath: .spec.source.backup.name
          name: Source
          type: string
        - jsonPath: .spec.destination.pvc.name
          name: Destination
          type: string
        - jsonPath: .status.state
          name: State
          type: string
      name: v1beta1
      schema:
        openAPIV3Schema:
          description: AzureRwxVolumeRestore is the Schema for the azurerwxvolumerestores API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: AzureRwxVolumeRestoreSpec defines the desired state of AzureRwxVolumeRestore
              properties:
                destination:
                  properties:
                    pvc:
                      properties:
                        name:
                          description: Name speicfies the name of the PVC that a backup has to be made of.
                          type: string
                        namespace:
                          description: |-
                            Namespace specified the namespace of the AzureRwxVolume resource that a backup has to be made of.
                            If not specified then namespace of the AzureRwxVolumeBackup is used.
                          type: string
                      required:
                        - name
                      type: object
                  required:
                    - pvc
                  type: object
                  x-kubernetes-validations:
                    - message: Destination is immutable.
                      rule: (self == oldSelf)
                source:
                  properties:
                    backup:
                      description: AzureRwxVolumeBackupRef specifies the AzureRwxVolumeBackup resource that would be restored
                      properties:
                        name:
                          description: Name specifies the name of the AzureRwxVolumeBackup resource that would be restored.
                          type: string
                        namespace:
                          description: Namespace specifies the namespace of the AzureRwxVolumeBackup resource that would be restored.
                          type: string
                      required:
                        - name
                      type: object
                  required:
                    - backup
                  type: object
                  x-kubernetes-validations:
                    - message: Source is immutable.
                      rule: (self == oldSelf)
              required:
                - destination
                - source
              type: object
            status:
              description: AzureRwxVolumeRestoreStatus defines the observed state of AzureRwxVolumeRestore
              properties:
                conditions:
                  description: List of status conditions
                  items:
                    description: Condition contains details for one aspect of the current state of this API Resource.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: |-
                          reason contains a programmatic identifier indicating the reason for the condition's last transition.
                          Producers of specific condition types may define expected values and meanings for this field,
                          and whether the values are considered a guaranteed API.
                          The value should be a CamelCase string.
                          This field may not be empty.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                opIdentifier:
                  description: Operation Identifier to track the Hyperscaler Restore Operation
                  type: string
                restoredDir:
                  description: The directory under the root of volume where the backup is restored.
                  type: string
                startTime:
                  description: The time when the restore operation is about to start.
                  format: date-time
                  type: string
                state:
                  enum:
                    - Processing
                    - InProgress
                    - Done
                    - Failed
                    - Error
                    - WaitingScopeReady
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
