---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
    cloud-resources.kyma-project.io/version: v0.0.5
  name: awsnfsvolumebackups.cloud-resources.kyma-project.io
spec:
  group: cloud-resources.kyma-project.io
  names:
    categories:
      - kyma-cloud-manager
    kind: AwsNfsVolumeBackup
    listKind: AwsNfsVolumeBackupList
    plural: awsnfsvolumebackups
    singular: awsnfsvolumebackup
  scope: Namespaced
  versions:
    - name: v1beta1
      schema:
        openAPIV3Schema:
          description: AwsNfsVolumeBackup is the Schema for the awsnfsvolumebackups API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: AwsNfsVolumeBackupSpec defines the one time backup of the AwsNfsVolume content.
              properties:
                lifecycle:
                  description: Lifecycle specifies the lifecycle of the created backup
                  properties:
                    deleteAfterDays:
                      description: |-
                        DeleteAfterDays specifies the number of days after creation that a recovery point and resource are deleted.
                        Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days.
                        So, DeleteAfterDays must be greater than 90 days plus MoveToColdStorageAfterDays
                      format: int64
                      type: integer
                    moveToColdStorageAfterDays:
                      description: |-
                        MoveToColdStorageAfterDays specifies the number of days after creation that a recovery point is moved to
                        cold storage.
                      format: int64
                      type: integer
                  type: object
                location:
                  description: Location specifies the AWS region where to copy over the backup.
                  type: string
                  x-kubernetes-validations:
                    - message: Location is immutable.
                      rule: (self == oldSelf)
                source:
                  description: Source specifies the resource which backup is being made
                  properties:
                    volume:
                      description: Volume specifies the AwsNfsVolume resource that a backup has to be made of.
                      properties:
                        name:
                          description: Name specifies the name of the AwsNfsVolume resource that a backup has to be made of.
                          type: string
                        namespace:
                          description: |-
                            Namespace specified the namespace of the AwsNfsVolume resource that a backup has to be made of.
                            If not specified then namespace of the AwsNfsVolumeBackup is used.
                          type: string
                      required:
                        - name
                      type: object
                  required:
                    - volume
                  type: object
              required:
                - source
              type: object
            status:
              description: AwsNfsVolumeBackupStatus defines the observed state of AwsNfsVolumeBackup
              properties:
                capacity:
                  anyOf:
                    - type: integer
                    - type: string
                  description: Capacity
                  pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                  x-kubernetes-int-or-string: true
                conditions:
                  description: List of status conditions
                  items:
                    description: Condition contains details for one aspect of the current state of this API Resource.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                          with respect to the current state of the instance.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: |-
                          reason contains a programmatic identifier indicating the reason for the condition's last transition.
                          Producers of specific condition types may define expected values and meanings for this field,
                          and whether the values are considered a guaranteed API.
                          The value should be a CamelCase string.
                          This field may not be empty.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                copyJobId:
                  description: AWS Copy Job Identifier
                  type: string
                id:
                  description: Identifier of the AWS Recovery Point
                  type: string
                idempotencyToken:
                  description: IdempotencyToken
                  type: string
                jobId:
                  description: AWS Backup Job Identifier
                  type: string
                lastCapacityUpdate:
                  description: LastCapacityUpdate specifies the time when the last time backup size got updated
                  format: date-time
                  type: string
                remoteId:
                  description: Identifier of the Remote AWS Recovery Point
                  type: string
                state:
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
