---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  name: vpcnetworks.cloud-control.kyma-project.io
spec:
  group: cloud-control.kyma-project.io
  names:
    kind: VpcNetwork
    listKind: VpcNetworkList
    plural: vpcnetworks
    singular: vpcnetwork
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.subscription
      name: Subscription
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: State
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: VpcNetwork is the Schema for the vpcnetworks API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VpcNetworkSpec defines the desired state of VpcNetwork.
            properties:
              cidrBlocks:
                items:
                  type: string
                maxItems: 10
                minItems: 1
                type: array
                x-kubernetes-validations:
                - message: cidrBlocks must be a list of valid CIDRs, for example '10.20.30.40/16'
                  rule: self.all(s, isCIDR(s))
              region:
                type: string
              subscription:
                type: string
              type:
                default: kyma
                enum:
                - kyma
                - gardener
                type: string
            required:
            - cidrBlocks
            - region
            - subscription
            type: object
          status:
            description: VpcNetworkStatus defines the observed state of VpcNetwork.
            properties:
              cidrBlocks:
                items:
                  type: string
                type: array
              conditions:
                description: List of status conditions to indicate the status of a
                  Peering.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              identifiers:
                properties:
                  internetGateway:
                    type: string
                  resourceGroup:
                    type: string
                  router:
                    type: string
                  vpc:
                    type: string
                type: object
              observedGeneration:
                format: int64
                type: integer
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
