name: Cloud-Manager Build Image PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - .github/workflows/stale.yaml
      - docs/**

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  build-image:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'pr-build-image') }}
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: cloud-manager
      dockerfile: Dockerfile
      export-tags: true

  no-build:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'pr-build-image') }}
    steps:
      -
        name: Local Container Build
        uses: docker/build-push-action@v6
        with:
          outputs: type=cacheonly
          push: false
          tags: user/app:latest
