name: Cloud-Manager Build Image PR

on:
  pull_request_target:
    types: [opened, synchronize, reopened, ready_for_review]
    paths-ignore:
      - .github/workflows/stale.yaml
      - docs/**

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  ado-build:
    name: Build Image ADO
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.pull_request.labels.*.name, 'pr-build-image') }}
    steps:
      - name: Build Image ADO
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: build-image-pr-ado.yaml

  local-build:
    name: Build Image Locally
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'pr-build-image') }}
    runs-on: ubuntu-latest
    steps:
      - name: Build Image Locally
        uses: docker/build-push-action@v6
        with:
          outputs: type=cacheonly
          push: false
          tags: user/app:latest
