name: E2E tests
on:
  workflow_dispatch:
  pull_request:
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize E2E environment
        uses: ./.github/actions/e2e-init
        id: e2e-init
      - name: run e2e tests
        run: echo "run e2e tests"
      - name: Destroy E2E environment
        if: always()
        uses: ./.github/actions/e2e-destroy
        id: e2e-destroy