name: E2E tests
on:
  workflow_dispatch:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize E2E environment
        uses: ./.github/actions/e2e-init
        id: e2e-init
        env:
          GARDENER_KUBECONFIG: ${{ secrets.GARDENER_KUBECONFIG }}
          OIDC_CLIENT_ID: ${{ vars.OIDC_CLIENT_ID }}
          OIDC_ISSUER_URL: ${{ vars.OIDC_ISSUER_URL }}
      - name: run e2e tests
        run: echo "run e2e tests"
      - name: Destroy E2E environment
        if: always()
        uses: ./.github/actions/e2e-destroy
        id: e2e-destroy