name: E2E tests
on:
  workflow_dispatch:
  pull_request:
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Display Go version
        run: go version
      - name: Write KUBECONFIG to file
        env:
          GARDENER_KUBECONFIG: ${{ vars.GARDENER_KUBECONFIG }}
        run: |
          echo "$GARDENER_KUBECONFIG" > kubeconfig-garden.yaml
      - name: Display server
        run: cat kubeconfig-garden.yaml
      - name: Write e2e config file
        env:
          OIDC_CLIENT_ID: ${{ vars.OIDC_CLIENT_ID }}
          OIDC_ISSUER_URL: ${{ vars.OIDC_ISSUER_URL }}
        run: |
          cat <<EOF > e2e-config.yaml
          gardenKubeconfig: kubeconfig-garden.yaml
          shootPrefix: pp
          kcpNamespace: kcp-system
          gardenNamespace: garden-spm-test01
          skrNamespace: default
          subscriptions:
            - name: my-aws-secret
              provider: aws
              isDefault: true
            - name: svc-btp-kyma-phoenix-dev
              provider: azure
              isDefault: true
            - name: gardener-sc-learn
              provider: gcp
              isDefault: true
          networkOwner: gardener
          oidcClientId: $OIDC_CLIENT_ID
          oidcIssuerUrl: $OIDC_ISSUER_URL
          administrators:
            - vladimir.andjelkoski@sap.com
            - dl_623b719a6a0d2d029907bee0@global.corp.sap
          EOF
      - name: Display e2e config file
        run: cat e2e-config.yaml
      - name: Create tmp directory
        run: mkdir ./tmp
      - name: List directory
        run: ls -la
      - name: Download credentials
        run:  go run ./e2e/cmd credentials download
      - name: List tmp directory
        run: ls -la