name: E2E tests
run-name: E2E tests ${{ inputs.provider }}
on:
  pull_request:
  workflow_dispatch:
    inputs:
      provider:
        type: choice
        required: true
        options:
          - aws
          - gcp
          - azure
        description: Choose the cloud provider for the shared instance
        default: azure
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize E2E environment
        uses: ./.github/actions/e2e-init
        id: e2e-init
        env:
          GARDENER_KUBECONFIG: ${{ secrets.GARDENER_KUBECONFIG }}
          OIDC_CLIENT_ID: ${{ vars.OIDC_CLIENT_ID }}
          OIDC_ISSUER_URL: ${{ vars.OIDC_ISSUER_URL }}
      - name: Set provider env var
        run: |
          PROVIDER=${{ inputs.provider }}
          PROVIDER=${PROVIDER:-"azure"}
          echo "PROVIDER=$PROVIDER" >> $GITHUB_ENV
      - name: Break if provider is empty
        if: ${{ env.PROVIDER == '' }}
        run: echo "PROVIDER is missing or empty!" && exit 1
      - name: Create shared instance
        env:
          KUBECONFIG: ./tmp/kubeconfig-kcp.yaml
        run: |
          go run ./e2e/cmd instance create -a shared-$PROVIDER -p $PROVIDER -t 30m -w
      - name: Add module to shared instance
        env:
          KUBECONFIG: ${{ github.workspace }}/tmp/kubeconfig-kcp.yaml
        run: |
          go run ./e2e/cmd instance modules add -m  cloud-manager -a shared-$PROVIDER
          sleep 60
      - name: run e2e tests
        env:
          KUBECONFIG: ${{ github.workspace }}/tmp/kubeconfig-kcp.yaml
        run: |
          echo $KUBECONFIG
          ls -la ./tmp
          RUN_E2E_TESTS=1 PROJECTROOT=$GITHUB_WORKSPACE go test ./e2e/tests/skr/azure/... -timeout 0 -v -godog.tags "@skr && @azure"
      - name: Delete shared instance
        if: always()
        env:
          KUBECONFIG: ./tmp/kubeconfig-kcp.yaml
        run: |
          go run ./e2e/cmd instance delete -a shared-$PROVIDER -t 30m -w
      - name: Destroy E2E environment
        if: always()
        uses: ./.github/actions/e2e-destroy
        id: e2e-destroy