name: E2E tests
on:
  pull_request:
  workflow_dispatch:
    inputs:
      provider:
        type: choice
        required: true
        options:
          - aws
          - gcp
          - azure
        description: Choose the cloud provider for the shared instance
        default: azure
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize E2E environment
        uses: ./.github/actions/e2e-init
        id: e2e-init
        env:
          GARDENER_KUBECONFIG: ${{ secrets.GARDENER_KUBECONFIG }}
          OIDC_CLIENT_ID: ${{ vars.OIDC_CLIENT_ID }}
          OIDC_ISSUER_URL: ${{ vars.OIDC_ISSUER_URL }}
      - name: Create shared instance
        env:
          KUBECONFIG: ./tmp/kubeconfig-kcp.yaml
        run: |
          PROVIDER=${{ inputs.provider }}
          PROVIDER=${PROVIDER:-"azure"}
          go run ./e2e/cmd instance create -a shared-$PROVIDER -p $PROVIDER -w
      - name: run e2e tests
        run: RUN_E2E_TESTS=1 PROJECTROOT=$GITHUB_WORKSPACE go test -timeout 0 -v -godog.tags "@skr && @azure" ./e2e/tests/skr/azure/...
      - name: Delete shared instance
        if: always()
        env:
          KUBECONFIG: ./tmp/kubeconfig-kcp.yaml
        run: |
          PROVIDER=${{ inputs.provider }}
          PROVIDER=${PROVIDER:-"azure"}
          go run ./e2e/cmd instance delete -a shared-$PROVIDER -w
      - name: Destroy E2E environment
        if: always()
        uses: ./.github/actions/e2e-destroy
        id: e2e-destroy