name: PR Checks
run-name: '${{github.event.pull_request.title}}'
'on':
  - pull_request
env:
  PIPELINE: true
jobs:
  build:
    strategy:
      matrix:
        nukeBackups:
          - "false"
          - "true"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Display Go version
        run: go version
      - name: Build and test
        env:
          FF_NUKE_BACKUPS_GCP: ${{ matrix.nukeBackups }}
          FF_NUKE_BACKUPS_AWS: ${{ matrix.nukeBackups }}
        run: |
          ./config/sync.sh
          go mod tidy
          go mod download
          make build
          make test
      - name: Check modified files
        run: git diff --exit-code
      - name: Check if test GUIDs are unique
        run: x=$(grep -rEho '[[:xdigit:]]{8}(-[[:xdigit:]]{4}){3}-[[:xdigit:]]{12}'  ./internal | sort | uniq -d); [ -z "${x}" ] || ( echo duplicated GUID detected $x; exit 1; )
